{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <i class="fa-solid fa-calculator fa-lg ps-4"></i>
    <span class="brand-text ps-1">SOLVELT</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    {% if 'username' in request.session %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'img/avatar.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block text-capitalize">{{ request.session.username }} </a>
      </div>
    </div>
    {% endif %}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'index' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
            <i class="nav-icon fas fa-home-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-header">Kalkulator</li>
        <li class="nav-item">
          <a href="{% url 'aritmatika-index' %}" class="nav-link {% if request.path == '/aritmatika/' %}active{% endif %}">
            <i class="nav-icon fas fa-square-root-variable"></i>
            <p>
              Aritmatika
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-shapes"></i>
            <p>
              Bangun Datar
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'bangunDatar-persegi' %}" class="nav-link {% if request.path == '/bangunDatar-persegi/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Persegi</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunDatar-persegi-panjang' %}" class="nav-link {% if request.path == '/bangunDatar-persegi-panjang/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Persegi Panjang</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunDatar-segitiga' %}" class="nav-link {% if request.path == '/bangunDatar-segitiga/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Segitiga</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunDatar-lingkaran' %}" class="nav-link {% if request.path == '/bangunDatar-lingkaran/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Lingkaran</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunDatar-jajar-genjang' %}" class="nav-link {% if request.path == '/bangunDatar-jajar-genjang/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Jajar Genjang</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunDatar-trapesium' %}" class="nav-link {% if request.path == '/bangunDatar-trapesium/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Trapesium</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cube"></i>
            <p>
              Bangun Ruang
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'bangunRuang-kubus' %}" class="nav-link {% if request.path == '/bangunRuang-kubus/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Kubus</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunRuang-balok' %}" class="nav-link {% if request.path == '/bangunRuang-balok/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Balok</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Prisma</p>
                <i class="right fas fa-angle-left"></i>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'bangunRuang-prisma-segitiga' %}" class="nav-link {% if request.path == '/bangunRuang-prisma-prismaSegitiga/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Prisma Segitiga</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'bangunRuang-prisma-segiempat' %}" class="nav-link {% if request.path == '/bangunRuang-prisma-prismaSegiempat/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Prisma Segiempat</p>
                  </a>
                </li>
                {% comment %} <li class="nav-item">
                  <a href="{% url 'bangunRuang-prisma-segilima' %}" class="nav-link {% if request.path == '/bangunRuang-prisma-prismaSegilima/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Prisma Segilima</p>
                  </a>
                </li> {% endcomment %}
                <li class="nav-item">
                  <a href="{% url 'bangunRuang-prisma-segienam' %}" class="nav-link {% if request.path == '/bangunRuang-prisma-prismaSegienam/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Prisma Segienam</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunRuang-tabung' %}" class="nav-link {% if request.path == '/bangunRuang-tabung/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Tabung</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Limas</p>
                <i class="right fas fa-angle-left"></i>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="{% url 'bangunRuang-limas-segitiga' %}" class="nav-link {% if request.path == '/bangunRuang-limas-limasSegitiga/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Limas Segitiga</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'bangunRuang-limas-segiempat' %}" class="nav-link {% if request.path == '/bangunRuang-limas-limasSegiempat/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Limas Segiempat</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'bangunRuang-limas-segilima' %}" class="nav-link {% if request.path == '/bangunRuang-limas-limasSegilima/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Limas Segilima</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'bangunRuang-limas-segienam' %}" class="nav-link {% if request.path == '/bangunRuang-limas-limasSegienam/' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Limas Segienam</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunRuang-kerucut' %}" class="nav-link {% if request.path == '/bangunRuang-kerucut/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Kerucut</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'bangunRuang-bola' %}" class="nav-link {% if request.path == '/bangunRuang-bola/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Bola</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'konversi-index' %}" class="nav-link {% if request.path == '/konversi/' %}active{% endif %}">
            <i class="nav-icon fas fa-exchange-alt"></i>
            <p>
              Konversi
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'konversi-suhu' %}" class="nav-link {% if request.path == '/konversi/suhu/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Suhu</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'konversi-panjang' %}" class="nav-link {% if request.path == '/konversi/panjang/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Panjang</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'konversi-berat' %}" class="nav-link {% if request.path == '/konversi/berat/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Berat</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'konversi-biner' %}" class="nav-link {% if request.path == '/konversi/biner/' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Biner</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item fixed-bottom border-top border-secondary" style="width: fit-content;">
          {% if 'username' in request.session %}
            <a href="{% url 'logout' %}" class="nav-link text-start bg-transparent">
              <i class="nav-icon fas fa-right-to-bracket"></i>
              <p>
                Logout
              </p>
            </a>
          {% else %}
            <button type="button" class="nav-link border-0 text-start bg-transparent" data-bs-toggle="modal" data-bs-target="#loginModal">
              <i class="nav-icon fas fa-right-to-bracket"></i>
              <p>
                Login
              </p>
            </button>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</aside>
