{% extends "main.html" %}
{% block title %}Kalkulator | Bangun Ruang | Kubus{% endblock %}
{% block contentHeader %}Kubus{% endblock %}

{% block content %}
<select class="form-select" aria-label="Default select example">
    <option selected>Pilih Rumus</option>
    <option value="1">Volume</option>
    <option value="2">Luas Permukaan</option>
    <option value="3">Keliling</option>
</select>
<br>
<div class="form-floating">
    <input class="form-control" placeholder="Leave a comment here" id="input"></input>
    <label for="input">Masukkan Sisi</label>
</div>
<br>
<button type="button" class="btn btn-outline-primary">Hitung</button>
{% endblock %}


{% block script %}
<script>
    $(document).ready(function() {
        $("#pilihRumus").change(function() {
            var rumus = $("#pilihRumus").val();
            if (rumus == 1) {
                $("#rumusVolume").show();
                $("#rumusLuasPermukaan").hide();
                $("#rumusKeliling").hide();
            } else if (rumus == 2) {
                $("#rumusVolume").hide();
                $("#rumusLuasPermukaan").show();
                $("#rumusKeliling").hide();
            } else if (rumus == 3) {
                $("#rumusVolume").hide();
                $("#rumusLuasPermukaan").hide();
                $("#rumusKeliling").show();
            } else {
                $("#rumusVolume").hide();
                $("#rumusLuasPermukaan").hide();
                $("#rumusKeliling").hide();
            }
        });
    });
</script>
{% endblock %}