{% extends "main.html" %}
{% block title %}Kalkulator | Bangun Ruang | Prisma | Prisma Segilima{% endblock %}
{% block contentHeader %}Prisma Segilima{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <select id="pilihRumus" class="form-select mb-3" aria-label="Default select example" name="rumus" required>
        <option value="" hidden selected>Pilih Rumus</option>
        <option value="1">Volume (Luas Alas Belum diketahui)</option>
        <option value="2">Volume (Luas Alas Telah diketahui)</option>
        <option value="3">Luas Permukaan</option>
    </select>
    <div id="rumusVolume" style="display: none;">
        <div class="form-floating">
            <input class="form-control" placeholder="rumus Volume" id="input" name="sisiSegilima"></input>
            <label for="input">Masukkan sisi Segilima</label>
        </div>
        <br>
        <div class="form-floating">
            <input class="form-control" placeholder="rumus Volume" id="input" name="tinggiPrisma"></input>
            <label for="input">Masukkan Tinggi Prisma</label>
        </div>
    </div>
    <div id="rumusVolumeLA" style="display: none;">
        <div class="form-floating">
            <input class="form-control" placeholder="rumus Volume" id="input" name="luasAlas"></input>
            <label for="input">Masukkan Luas Alas</label>
        </div>
        <br>
        <div class="form-floating">
            <input class="form-control" placeholder="rumus Volume" id="input" name="tinggiPrisma"></input>
            <label for="input">Masukkan Tinggi Prisma</label>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-primary">Hitung</button>
</form>

{% if hasil %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 card shadow">
        <div class="card-body">
            <h5 class="card-title col-md-12 text-center fw-bold my-3">
                    {% if rumus == '1' %}
                        Volume Prisma Segilima dengan Sisi Segilima {{ sisiSegilima }}, dan tinggi prisma {{ tinggiPrisma }} adalah {{ hasil }}
                    {% elif rumus == '2' %}
                        Volume Prisma Segilima dengan Luas Alas {{ luasAlas }}, dan tinggi prisma {{ tinggiPrisma }} adalah {{ hasil }}
                    {% elif rumus == '3' %}
                        Luas Permukaan Prisma Segilima dengan Sisi Segilima {{ sisiSegilima }}, dan tinggi prisma {{ tinggiPrisma }} adalah {{ hasil }}
                    {% endif %}
            </h5>
        </div>
    </div>  
</div>
{% endif %}
{% endblock %}


{% block script %}
<script>
    $(document).ready(function() {
        $("#pilihRumus").change(function() {
            var rumus = $("#pilihRumus").val();
            if (rumus == 1) {
                $("#rumusVolume").show();
                $("#rumusVolumeLA").hide();
                $("#rumusLuasPermukaan").hide();
            } else if (rumus == 2) {
                $("#rumusVolume").hide();
                $("#rumusVolumeLA").show();
                $("#rumusLuasPermukaan").hide();
            } else if (rumus == 3) {
                $("#rumusVolume").show();
                $("#rumusVolumeLA").hide();
            } else {
                $("#rumusVolume").hide();
                $("#rumusVolumeLA").hide();
                $("#rumusLuasPermukaan").hide();
            }
        });
    });
</script>
{% endblock %}
