{% extends "main.html" %}
{% block title %}Kalkulator | Bangun Ruang | Persegi{% endblock %}
{% block contentHeader %}Persegi{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <select id="pilihRumus" class="form-select mb-3" aria-label="Default select example" required name="rumus">
        <option value="" hidden selected>Pilih Rumus</option>
        <option value="1">Luas</option>
        <option value="2">Keliling</option>
    </select>
    <div id="rumusVolume" style="display: none;">
        *Tempat rumus Luas
        <div class="form-floating">
            <input class="form-control" placeholder="rumus Volume" id="input" name="sisi"></input>
            <label for="input">Masukkan Sisi</label>
        </div>
    </div>
    <div id="rumusLuasPermukaan" style="display: none;">
        *Tempat rumus Keliling
        <div class="form-floating">
            <input class="form-control" placeholder="rumus Luas Permukaan" id="input" name="sisiLuasPermukaan"></input>
            <label for="input">Masukkan Sisi</label>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-primary">Hitung</button>
    <button type="submit" class="btn btn-outline-primary">Hitung</button>
</form>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $("#pilihRumus").change(function() {
            var rumus = $("#pilihRumus").val();
            if (rumus == 1) {
                $("#rumusVolume").show();
                $("#rumusLuasPermukaan").hide();
            } else if (rumus == 2) {
                $("#rumusVolume").hide();
                $("#rumusLuasPermukaan").show();
            } else {
                $("#rumusVolume").hide();
                $("#rumusLuasPermukaan").hide();
            }
        });
    });
</script>
{% endblock %}
